// Color Temaplates

.color-primary{
    color:$color-primary;
}
.color-primary-bg{
    background:$color-primary;
}
.color-second{
   color:$color-second;
}
.color-second-bg{
    background:$color-second;
}
.color-yelllow{
    color: $color-yellow;
}
.color-yelllow-bg{
    background: $color-yellow;
}



